.boton {
  background-color: #6278F7;
  border-radius: 10px;
  font-weight: 700;
  font-family: "Monserrat", sans-serif;
  border: none;
  padding: 24px 32px;
  margin: 32px 0;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
}

.boton:hover {
  color: #95FFD4;
}